
.DevLogin, .EmployeeLogin {
    height: 40vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
}

.LandingContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    width: 100vw;
    background-image: url('https://birchtree.nyc3.digitaloceanspaces.com/images/wwdc18/dev-black.png');
    background-size: 100%;
    background-position-y: center;
    /* background-attachment: fixed; */
    font-family: 'Nanum Gothic Coding', monospace;
    background-repeat: unset;
    
}

.DevLogin, .EmployeeLogin {
    display: flex;
    align-content: center;
    align-items: center;
}
