.imgD {
    background-color: black;
    height: 90px;
    width: 90px;
    display: flex;
    
    
}


.Header-main {
    display: flex;
    width: 100vw;
    /* height: 10vh; */
    background-color: black;
    align-items: center;
    justify-content: space-between;
    font-family: 'Nanum Gothic Coding', monospace;
}

.Header-list {
    color: white;
    display: flex;
    flex-direction: row;
    width: 30vw;  
    justify-content: space-evenly;
    list-style-type: none;
  
}

.Greeting {
    display: flex;
    justify-content: center;

    color: white;
    margin: 0;
    padding: 0;
}

.Hamburger { 
    display: none;
} 

.Hamburger-Button {
    height: 30px;
    width: 30px;
    cursor: pointer;
    filter: invert(100%);

}

.List-Container {
    display: flex;
}


div.top-menu, .top-menu-open, .top-menu.close {
 
    /* height: 32vh; */ 
    /* display: none; */
    position: fixed;
    top: 0;
    /* left: 1.4em; */
    display: none;
    /* transform: translateX(1610px); */
    
}

.top-menu-open {
    display: block;
    animation-name: open;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    /* margin-top: 10vh; */
    position: relative;
    background-color: black;
    
    height: 40px;
    width: 100vw;
}

main {
background-color: black;
/* height: 150px; */
border-bottom: .5px grey solid;
}

h3 {
    height: 3px;
}



.top-menu-close {
    /* display: block; */
    animation-name: close;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    /* margin-top: 10vh; */
    background-color: black;
    margin: 0;
    padding: 0;
    height: 40px;
    width: 100vw;
}

.Open-Menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    width: 100vw;

    
}

@keyframes open {
    /* from {
        Transform: translateX(1300px)
    } */
    to {
        Transform: translateX(0px)
    }
}


@keyframes close {
    /* from {
        Transform: translateX(1099px)
    } */
    to {
        Transform: translateX(-1200px)
    }
}

@media (max-width: 1100px) {
    li {
        display: none;
    }
    .Hamburger {
        display: flex;
    }
    
    .top-menu-open{
        display: block;
    }
    
}



@media (min-width: 1100.1px) {
    .top-menu-close, .top-menu-open{
        display: none;
    }
    
    
} 

