.EmployerPost {
    display: flex;
    
    flex-direction: column;
    justify-content: space-between;
    border: 1px white solid;
    height: 65vh;
    width: 80vw;
    margin-top: 10px;
    background: black;
    color: White;
    
    

}

.EmployerPostContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    height: 90%;
    
}

.EmployerImg {
    /* display: flex;
    justify-content: flex-start;
    height: 25vh;
    width: 10vw;
    position: absolute; */
    display: inline-block;
}

.Employer-Image {
    height: 200px;
    width: 200px;
}