.EmployerPost {
    display: flex;
    flex-direction: column;
    border: 1px white solid;
    height: 50vh;
    width: 35vw;
    margin-top: 10px;
    background: white;
    color: black;
    Overflow: scroll;
    border-radius: 2%;
    margin-left: 15px;
}

.EmployerPostContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    margin-top: 50px;
    
    
}

.EmployerImg {
    /* display: flex;
    justify-content: flex-start;
    height: 25vh;
    width: 10vw;
    position: absolute; */
    display: inline-block;
}

.Employer-Image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.Dash-Header {
    height: 50vh;
    width: 35vw;
    border: .5px white solid;
    border-radius: 3%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}