.App {
  text-align: center;
  /* height: 80vh; 
  width: 100vw; */
  background: black;


}

input {
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  color : white;
}

button {
  background: black;
  color: white;
}


