.App {
  text-align: center;

  width: 100vw; 
  background: black;
  overflow: hidden;

}

input {
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  color : white;
}

button {
  background: black;
  color: white;
}

body::-webkit-scrollbar {
  width: .02em;
}





